services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: dms
      POSTGRES_PASSWORD: dmsPW
      POSTGRES_DB: dmsdb
    ports: ["5432:5432"]
    volumes: [pgdata:/var/lib/postgresql/data]

  rabbit:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: dev
      RABBITMQ_DEFAULT_PASS: dev
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10

  api:
    build: ./dms
    ports: ["8080:8080"]
    environment:
      ASPNETCORE_URLS: http://+:8080
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__Postgres: Host=db;Port=5432;Database=dmsdb;Username=dms;Password=dmsPW
      RabbitMq__HostName: rabbit
      RabbitMq__Port: 5672
      RabbitMq__UserName: dev
      RabbitMq__Password: dev
      RabbitMq__Exchange: dms.exchange
      RabbitMq__Queue: dms.ocr
      RabbitMq__RoutingKey: ocr.new
      Storage__Provider: Minio
      Minio__Endpoint: http://minio:9000
      Minio__AccessKey: minioadmin
      Minio__SecretKey: minioadmin
      Minio__UseSSL: "false"
    volumes:
      - ./storage/uploads:/app/storage/uploads
    depends_on:
      - db
      - rabbit
      - minio

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data

  ocrworker:
    build: ./src/OcrWorker
    environment:
      RabbitMq__HostName: rabbit
      RabbitMq__Port: 5672
      RabbitMq__UserName: dev
      RabbitMq__Password: dev
      RabbitMq__Exchange: dms.exchange
      RabbitMq__Queue: dms.ocr
      RabbitMq__RoutingKey: ocr.new
      Minio__Endpoint: minio:9000
      Minio__AccessKey: minioadmin
      Minio__SecretKey: minioadmin
      Minio__UseSSL: "false"
      Ocr__DefaultLang: eng
    depends_on:
      rabbit:
        condition: service_healthy
      minio:
        condition: service_started
    restart: unless-stopped

  ui:
    build:
      context: .
      dockerfile: ./webserver/Dockerfile
    container_name: dms_ui
    ports:
      - "8081:80"
    depends_on:
      - api

volumes:
  pgdata:
  minio_data:
