* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

table th, table td {
    text-align: left;
}
